<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-google-api-version"
        version="0.0.1">

    <name>cordova-google-api-version</name>
    <description>Cordova plugin to solve Google API version conflicts by pining a desired version for all Google APIs (eg: play-services, firebase)</description>
    <author>Chris Scott, Transistor Software</author>

    <platform name="android">
    	<hook type="before_prepare" src="scripts/before-prepare.js" />
    	<preference name="GOOGLE_API_VERSION" default="11.0.1" />
        <framework src="cordova-google-api-version.gradle" custom="true" type="gradleReference" />        
        <source-file src="properties.gradle" target-dir="cordova-google-api-version" />

    </platform>
</plugin>
